<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
    
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<bean name="userService" class="com.brick.squad.service.impl.UserServiceImpl" />
	<bean name="roleService" class="com.brick.squad.service.impl.RoleServiceImpl" />
	<bean name="newsService" class="com.brick.squad.service.impl.NewsServiceImpl" />
	<bean name="medicalService" class="com.brick.squad.service.impl.MedicalServiceImpl" />
	<bean name="replyService" class="com.brick.squad.service.impl.ReplyServiceImpl" />
	<bean name="regionService" class="com.brick.squad.service.impl.RegionServiceImpl" />
	<bean name="activityRegistrationService"
		class="com.brick.squad.service.impl.ActivityRegistrationServiceImpl" />
	<bean name="ratedService" class="com.brick.squad.service.impl.RatedServiceImpl" />
	<bean name="personalInformationService"
		class="com.brick.squad.service.impl.PersonalInformationServiceImpl" />
	<bean name="ordersService" class="com.brick.squad.service.impl.OrdersServiceImpl" />
	<bean name="activitiesService" class="com.brick.squad.service.impl.ActivitiesServiceImpl" />

	<bean name="articleService" class="com.brick.squad.service.impl.ArticleServiceImpl" />
	<bean name="shopActivitiesService"
		class="com.brick.squad.service.impl.ShopActivitiesServiceImpl" />
	<bean name="memberShipApplicationService"
		class="com.brick.squad.service.impl.MemberShipApplicationServiceImpl" />


	<bean name="addressService" class="com.brick.squad.service.impl.AddressServiceImpl" />
	<bean name="relativesService" class="com.brick.squad.service.impl.RelativesServiceImpl" />
	<bean name="shoppingCarService" class="com.brick.squad.service.impl.ShoppingCarServiceImpl" />
	<bean name="rapportService" class="com.brick.squad.service.impl.RapportServiceImpl" />
	<bean name="businessService" class="com.brick.squad.service.impl.BusinessServiceImpl" />
	<bean name="collectionService" class="com.brick.squad.service.impl.CollectionServiceImpl" />
	<bean name="limitsService" class="com.brick.squad.service.impl.LimitsServiceImpl" />
	<bean name="buyersService" class="com.brick.squad.service.impl.BuyersServiceImpl" />
	<bean name="healthRecordsService" class="com.brick.squad.service.impl.HealthRecordsServiceImpl" />
	<bean name="typeService" class="com.brick.squad.service.impl.TypeServiceImpl" />
	<bean name="orderDetailsService" class="com.brick.squad.service.impl.OrderDetailsServiceImpl" />
	<bean name="guidanceService" class="com.brick.squad.service.impl.GuidanceServiceImpl" />
	<bean name="couponService" class="com.brick.squad.service.impl.CouponServiceImpl"></bean>
	<bean name="variableProductService"
		class="com.brick.squad.service.impl.VariableProductServiceImpl"></bean>
	<bean name="agedCouponService" class="com.brick.squad.service.impl.AgedCouponServiceImpl"></bean>
	<bean name="reservationService" class="com.brick.squad.service.impl.ReservationServiceImpl"></bean>
	<bean name="onlineParticipationInfoService"
		class="com.brick.squad.service.impl.OnlineParticipationInfoServiceImpl"></bean>
</beans>


