<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<bean name="medicalService" class="com.brick.squad.service.impl.MedicalServiceImpl" />
	<bean name="replyService" class="com.brick.squad.service.impl.ReplyServiceImpl" />
	<bean name="regionService" class="com.brick.squad.service.impl.RegionServiceImpl" />
	<bean name="activityRegistrationService"
		class="com.brick.squad.service.impl.ActivityRegistrationServiceImpl" />
	<bean name="ratedService" class="com.brick.squad.service.impl.RatedServiceImpl" />
	<bean name="personalInformationService"
		class="com.brick.squad.service.impl.PersonalInformationServiceImpl" />
	<bean name="ordersService" class="com.brick.squad.service.impl.OrdersServiceImpl" />
	<bean name="activitiesService" class="com.brick.squad.service.impl.ActivitiesServiceImpl" />
	<bean name="articleService" class="com.brick.squad.service.impl.ArticleServiceImpl" />
	<bean name="shopActivitiesService"
		class="com.brick.squad.service.impl.ShopActivitiesServiceImpl" />
	<bean name="addressService" class="com.brick.squad.service.impl.AddressServiceImpl"/>
	<bean name="buyersService" class="com.brick.squad.service.impl.BuyersServiceImpl"/>

</beans>
