@CHARSET "UTF-8";
.Person_body{
	width: 100%;
	height:100%;
	/* background-color: red; */
}

.Person_left{
	width:25%;
	height:100%;
	float:left;
	background-color: blue;
	
}

.Person_right{
	width:75%;
	height:100%;
	float:right;
	/* background-color: green; */
}