<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.ActivityRegistrationMapper">
	<sql id="prop">
		id,per_id perId,activities_id
		activitiesId,registration_date
		registrationDate,appointment
	</sql>
	<select id="findActivityRegistrationById" parameterType="String" resultType="ActivityRegistration"
		>
		select
		<include refid="prop" />
		from activity_registration where
		id=#{id}
	</select>

	<insert id="insertActivityRegistration" parameterType="ActivityRegistration">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		activity_registration(id,per_id,activities_id,registration_date,appointment)
		VALUES
		(#{id},#{perId},#{activitiesId},#{registrationDate},#{appointment})
	</insert>

	<update id="updateActivityRegistrationById" parameterType="ActivityRegistration">
		UPDATE activity_registration
		SET per_id=#{perId},
		activities_id=#{activitiesId},
		registration_date=#{registrationDate},
		appointment=#{appointment}
		where id=#{id}
	</update>

	<delete id="deleteActivityRegistrationById" parameterType="String">
		DELETE FROM activity_registration WHERE id=#{id}
	</delete>
	<select id="activityRegistrationPagination" parameterType="com.brick.squad.util.Pagination"
		resultType="com.brick.squad.expand.ActivityRegistrationExpand">
		SELECT  personal_information.name personalInformationName,activities.name activitiesName,activity_registration.registration_date registrationDate,activity_registration.id,activity_registration.appointment 
				FROM activity_registration JOIN personal_information ON activity_registration.per_id=personal_information.id
				JOIN activities ON activity_registration.activities_id=activities.id 
				<if test="keyword!=''and keyword!=null">
				 WHERE personal_information.name REGEXP #{keyword} or 
				 activities.name REGEXP #{keyword}
				</if>
				LIMIT #{skipNum},#{takeNum}
	</select>
	<select id="activityRegistrationCount" resultType="int">
		SELECT
		COUNT(*) FROM activity_registration
	</select>
	
	<select id="findActivityRegistrationAndPersonalInformationAndActivities" resultType="com.brick.squad.expand.ActivityRegistrationExpand" parameterType="String">
	SELECT  personal_information.name personalInformationName,activities.name activitiesName,activity_registration.registration_date registrationDate,activity_registration.id,activity_registration.appointment 
				FROM activity_registration JOIN personal_information ON activity_registration.per_id=personal_information.id
				JOIN activities ON activity_registration.activities_id=activities.id 
	where activity_registration.id=#{id}		
	
	</select>
	
</mapper>