<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.ActivitiesMapper">

	<!-- 查询 -->
	<select id="findActivitiesById" resultType="activities"
		parameterType="String">
		select id,name,centent,type_id typeId,start_time
		startTime,end_time
		endTime,user_id userId,number from activities where
		id=#{id}
	</select>
	<!-- 查询活动名称 ,用于首页的报名回显-->
	<select id="findActivityName" resultType="activities">
	SELECT id,name FROM activities
	</select>

	<insert id="insertActivities" parameterType="activities">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into
		activities(id,name,centent,type_id,start_time,end_time,user_id,number,movie)
		values(#{id},#{name},#{centent},#{typeId},#{startTime},#{endTime},#{userId},#{number},#{movie})
	</insert>

	<delete id="deleteActivitiesById" parameterType="String">
		delete from
		activities where id=#{id}
	</delete>

	<update id="updateActivitiesById" parameterType="activities">
		UPDATE
		activities set
		name=#{name},
		centent=#{centent},
		type_id=#{typeId},
		start_time=#{startTime},
		end_time=#{endTime},
		user_id=#{userId},
		number=#{number},
		movie=#{movie}
		where id =#{id}
	</update>


	<!-- 分页查询 关联查询 -->
	<select id="activitiesPagination" parameterType="com.brick.squad.util.Pagination"
		resultType="com.brick.squad.expand.ActivitiesExpand">
		SELECT a.id,u.username,t.`name` tname,a.centent,a.`name`
		,a.start_time startTime,a.end_time endTime,a.number
		from activities a
		INNER JOIN type t ON a.type_id =t.id INNER
		JOIN `user` u ON
		a.user_id=u.id
		<if test="keyword!=''and keyword!=null">
		WHERE u.username REGEXP #{keyword} or t.`name` REGEXP #{keyword}
		 or a.`name` REGEXP #{keyword} or a.centent REGEXP #{keyword}
		</if>
		limit #{skipNum},#{takeNum}
	</select>


	<select id="findActivitiesAllCount" resultType="int">
		select count(*)
		from activities a INNER JOIN type t ON a.type_id =t.id INNER
		JOIN `user` u ON a.user_id=u.id
	</select>


	<select id="findAllActivities" parameterType="java.lang.String"
		resultType="activities">
		select
		activities.centent from activities
	</select>
	
	<!-- 查询活动中的id和活动名称 -->
	<select id="findAllActivitiesIdAndName" resultType="com.brick.squad.util.Select">
	select id,name from activities
	</select>

	<select id="findActivitiesAndTpyeAndUser" parameterType="java.lang.String"
		resultType="com.brick.squad.expand.ActivitiesExpand">
		SELECT a.id,u.username,t.`name` tname,a.centent,a.`name`
		,a.start_time startTime,a.end_time endTime,a.number

		from activities a
		INNER JOIN type t ON a.type_id =t.id INNER

		JOIN `user` u ON
		a.user_id=u.id
		WHERE a.id = #{id,jdbcType=VARCHAR}

	</select>


</mapper>