<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.ActivitiesMapper">

    <!-- 查询 -->
    <select id="findActivitiesById" resultType="activities" parameterType="String" >
	 	select id,name,centent,type_id typeId,start_time startTime,end_time endTime from activities where id=#{id}
	</select>
	
	<insert id="insertActivities" parameterType="activities">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into activities(id,name,centent,type_id,start_time,end_time)
		values(#{id},#{name},#{centent},#{typeId},#{startTime},#{endTime})
	</insert>
	
	<delete id="deleteActivitiesById" parameterType="String">
		delete from activities where id=#{id}
	</delete>
	
	<update id="updateActivitiesById" parameterType="activities">
	UPDATE activities set 
				name=#{name},
			centent=#{centent},
			type_id=#{typeId},
			start_time=#{startTime},
			end_time=#{endTime}
	 		where id =#{id}
	</update>
	
</mapper>