<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.AddressMapper">
	<select id="findAddressById" parameterType="String" resultType="Address">
		select
		id,province_id provinceId,city_id cityId,county_id
		countyId,country_id
		countryId,detailed
		from address where id=#{id}
	</select>
	<insert id="insertAddress" parameterType="com.brick.squad.pojo.Address">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into
		address(id,province_id,city_id,county_id,country_id,detailed,buyers_id,consignee_name,consignee_telephone)
		value(#{id},#{provinceId},#{cityId},#{countyId},#{countryId},#{detailed},#{buyersId}
		,#{consigneeName},#{consigneePhone})
	</insert>
	<delete id="deleteAddressById" parameterType="String">
		delete from address
		where id=#{id}
	</delete>
	<update id="updateAddressById" parameterType="com.brick.squad.pojo.Address">
		update address set
		province_id=#{provinceId},city_id=#{cityId},county_id=#{countyId}
		,country_id=#{countryId},detailed=#{detailed} where id=#{id}
	</update>
	<select id="addressPagination" parameterType="com.brick.squad.util.Pagination"
		resultType="com.brick.squad.pojo.Address">
		SELECT a.id, rPro.`name` provinceId ,rCit.`name`
		cityId,rcot.`name`
		countyId,rCo.`name` countryId,a.detailed
		FROM address a
		JOIN region rPro
		ON a.province_id=rPro.id

		JOIN region rCit ON a.city_id=rCit.id

		JOIN
		region rCo on a.country_id=rCo.id

		JOIN region rcot ON
		a.county_id=rcot.id
		<if test="keyword!=''and keyword!=null">
			WHERE rPro.`name` REGEXP #{keyword} or rCit.`name` REGEXP
			#{keyword} or
			rcot.`name` REGEXP #{keyword} or rCo.`name` REGEXP
			#{keyword} or
			a.detailed REGEXP #{keyword}
		</if>
		limit #{skipNum},#{takeNum}
	</select>
	<select id="findAddressAllCount" resultType="int"
		parameterType="com.brick.squad.util.Pagination">

		SELECT count(*)
		FROM address a
		JOIN region rPro ON a.province_id=rPro.id

		JOIN region rCit ON a.city_id=rCit.id

		JOIN region rCo on
		a.country_id=rCo.id

		JOIN region rcot ON a.county_id=rcot.id
		<if test="keyword!=''and keyword!=null">
			WHERE rPro.`name` REGEXP #{keyword} or rCit.`name` REGEXP
			#{keyword} or
			rcot.`name` REGEXP #{keyword} or rCo.`name` REGEXP
			#{keyword} or
			a.detailed REGEXP #{keyword}
		</if>
	</select>
	<!-- 根据用户ID查询address中当前用户的所有地址信息集合 -->
	<select id="findAddressByBuyersId" parameterType="String"
		resultType="com.brick.squad.pojo.Address">
		select
		id,province_id provinceId,city_id cityId,county_id
		countyId,country_id
		countryId,detailed,buyers_id
		buyersId,consignee_name consigneeName,
		consignee_telephone
		consigneePhone
		from address where buyers_id=#{buyersId}
	</select>
	<!--通用拼接查询地址sql -->
	<select id="findByIdAllAddress" parameterType="String"
		resultType="String">
		SELECT
		CONCAT(pro.`name`,city.`name`,county.`name`,country.`name`,a.detailed)
		address FROM address a JOIN
		region pro ON a.province_id=pro.id

		JOIN
		region city ON a.city_id=city.id

		JOIN
		region county on
		a.country_id=county.id

		JOIN
		region country on a.country_id=country.id

		WHERE a.id=#{id}
	</select>

</mapper>