<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.ArticleMapper">

    <!-- 查询 -->
    <select id="findArticleById" resultType="article" parameterType="String" >
	 	select id,aname aname,type_id typeId,business_id businessId,price,stock,image from article where id=#{id}
	</select>
	
	<insert id="insertArticle" parameterType="article">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into article(id,aname,type_id,business_id,price,stock,image)
		values(#{id},#{aname},#{typeId},#{businessId},#{price},#{stock},#{image})
	</insert>
	
	<delete id="deleteArticleById" parameterType="String">
		delete from article where id=#{id}
	</delete>
	
	<update id="updateArticleById" parameterType="article">
		update article set aname=#{aname},
				type_id=#{typeId},
				business_id=#{businessId},
				price=#{price},
				stock=#{stock},
				describes=#{describe},
				image=#{image}
				where id = #{id}
	</update>
	
	
	<select  id="articlePagination" parameterType="com.brick.squad.util.Pagination" resultType="article">
	  select id,aname aname,type_id typeId,business_id businessId,price,stock,describes,image from article limit #{skipNum},#{takeNum}
	
	</select>
	
	
	<select id="findArticleAllCount" resultType="int" >
		select count(*) from article
	
	</select>
</mapper>
