<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.BusinessMapper">
	<select id="findBusinessById" resultType="Business"
		parameterType="String">
		SELECT id,name,idcard,shopname,shop_material_path
		shopMaterialPath
		FROM business
		WHERE id=#{id}
	</select>

	<insert id="insertBusiness" parameterType="Business">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		business(id,name,idcard,shopname,shop_material_path)
		VALUES(#{id},#{name},#{idcard},#{shopname},#{shopMaterialPath})
	</insert>

	<update id="updateBusinessById" parameterType="Business">
		UPDATE business
		SET name=#{name},
		idcard=#{idcard},
		shopname=#{shopname},
		shop_material_path=#{shopMaterialPath}
		WHERE id=#{id}
	</update>

	<delete id="deleteBusinessById" parameterType="String">
		DELETE FROM business WHERE id=#{id}
	</delete>
</mapper>