<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.BusinessMapper">
	<sql id="prop">
		id,name,idcard,shopname,shop_material_path shopMaterialPath
	</sql>
	<select id="findBusinessById" resultType="Business"
		parameterType="String">
		SELECT
		<include refid="prop" />
		FROM business
		WHERE id=#{id}
	</select>

	<insert id="insertBusiness" parameterType="Business">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		business(id,name,idcard,shopname,shop_material_path)
		VALUES(#{id},#{name},#{idcard},#{shopname},#{shopMaterialPath})
	</insert>

	<update id="updateBusinessById" parameterType="Business">
		UPDATE business
		SET name=#{name},
		idcard=#{idcard},
		shopname=#{shopname},
		shop_material_path=#{shopMaterialPath}
		WHERE id=#{id}
	</update>

	<delete id="deleteBusinessById" parameterType="String" >
		DELETE FROM
		business WHERE id=#{id}
	</delete>
	
	<!-- 分页查询 -->
	<select id="businessPagination" parameterType="com.brick.squad.util.Pagination" resultType="Business">
	
		select id,name,idcard,shopname,shop_material_path shopMaterialPath
		from business
	   
		<if test="keyword!=''">
		where name REGEXP #{keyword} or shopname REGEXP #{keyword} or idcard REGEXP #{keyword} 
		</if>
	 	LIMIT #{skipNum},#{takeNum}
	</select>
	<select id="businessCount" resultType="int"  parameterType="com.brick.squad.util.Pagination">
		SELECT
		COUNT(*) FROM business
		<if test="keyword!=''">
		where name REGEXP #{keyword} or shopname REGEXP #{keyword} or idcard REGEXP #{keyword} 
		</if>
	</select>
	
	<select id="findAllBusiness"  resultType="com.brick.squad.util.Select">
	select id,name,idcard,shopname,shop_material_path shopMaterialPath
		from business
	</select>
	
	<select id="findBusiness" parameterType="java.lang.String" resultType="Business">
		select id,name,idcard,shopname,shop_material_path shopMaterialPath
		from business
		where id=#{id}
	</select>
	
	
</mapper>
