<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.BuyersMapper">
	<insert id="insertBuyers" parameterType="com.brick.squad.pojo.Buyers">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into buyers(id,current_integral,historical_integral,grade,delivery_address_id)
		 values (#{id},#{currentIntegral},#{historicalIntegral},#{grade},#{deliveryAddressId})
	</insert>
</mapper>