<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.BuyersMapper">
	<insert id="insertBuyers" parameterType="com.brick.squad.pojo.Buyers">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into buyers(id,current_integral,historical_integral,grade,delivery_address_id)
		 values (#{id},#{currentIntegral},#{historicalIntegral},#{grade},#{deliveryAddressId})
	</insert>
	<select id="findBuyersByUUID" parameterType="String" resultType="com.brick.squad.pojo.Buyers">
	select id,current_integral currentIntegral,historical_integral historicalIntegral,grade grade,delivery_address_id deliveryAddressId 
	from buyers where id REGEXP #{id}
	</select>
	<update id="updateBuyersById" parameterType="com.brick.squad.pojo.Buyers">
		update buyers set 
		current_integral=#{currentIntegral},historical_integral=#{historicalIntegral}
		,grade=#{grade},delivery_address_id=#{deliveryAddressId} where id=#{id}
	</update>
	<delete id="deleteBuyersById" parameterType="com.brick.squad.pojo.Buyers">
		delete from buyers where id=#{id}
	</delete>
	<!--分页查询  -->
	<select id="buyersPagination" parameterType="com.brick.squad.util.Pagination" resultType="com.brick.squad.pojo.Buyers">
		select 
		id,current_integral currentIntegral,
		historical_integral historicalIntegral,
		grade grade,delivery_address_id deliveryAddressId 
		from buyers limit #{skipNum},#{takeNum}
	</select>
</mapper>