<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.CollectionMapper">
	<sql id="prop">
		id,per_id perId,article_id articleId,col_date
		colDate
	</sql>
	<select id="findCollectionById" resultType="Collection"
		parameterType="String">
		SELECT
		<include refid="prop" />
		FROM collection
		WHERE id=#{id};
	</select>

	<insert id="insertCollection" parameterType="Collection">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		collection(id,per_id,article_id,col_date)
		VALUES(#{id},#{perId},#{articleId},#{colDate})
	</insert>

	<update id="updateCollectionById" parameterType="Collection">
		UPDATE
		collection
		SET per_id=#{perId},
		article_id=#{articleId},
		col_date=#{colDate}
		WHERE id=#{id}
	</update>

	<delete id="deleteCollectionById" parameterType="String">
		DELETE FROM
		collection WHERE id=#{id}
	</delete>
	
	<!-- <select id="collectionPagination" parameterType="com.brick.squad.util.Pagination"
		resultType="Collection">
		SELECT
		id,per_id perId,article_id articleId,col_date
		colDate
		FROM collection LIMIT #{skipNum},#{takeNum}
		
	</select> -->
	<select id="collectionPagination" parameterType="com.brick.squad.util.Pagination" resultType="com.brick.squad.expand.CollectionExpand">
		SELECT personal_information.name personalInformationName,article.aname articleAname,collection.col_date colDate FROM collection 
			 JOIN personal_information ON collection.per_id=personal_information.id 
			 JOIN article ON collection.article_id=article.id
		<if test="keyword!=''">
		 WHERE personal_information.name REGEXP #{keyword} or article.aname REGEXP #{keyword}
		</if>
		 LIMIT #{skipNum},#{takeNum}
		
	</select>
	
	<select id="collectionCount" resultType="int" parameterType="com.brick.squad.util.Pagination">
		SELECT
		COUNT(*) FROM collection
		<if test="keyword!=''">
		JOIN personal_information ON collection.per_id=personal_information.id 
		JOIN article ON collection.article_id=article.id
		 WHERE personal_information.name REGEXP #{keyword} or article.aname REGEXP #{keyword}
		</if>
	</select>
</mapper>