<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.MedicalMapper">

	<insert id="insertMedical" parameterType="medical">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into
		medical(id,per_id,inspection_date,type_id,hospital,content,attending_surgeon)
		values(#{id},#{perId},#{inspectionDate},#{typeId},#{hospital},#{content},#{attendingSurgeon})
	</insert>


	<select id="findMedicalById" parameterType="String" resultType="medical">
		select id id ,per_id perId ,inspection_date inspectionDate ,type_id
		typeId,hospital hospital,
		content content,attending_surgeon
		attendingSurgeon
		from medical
		where id = #{id}
	</select>
	<delete id="deleteMedicalById" parameterType="String"> delete from
		medical where id=#{id}
	</delete>
	<update id="updateMedicalCententById" parameterType="medical">
		UPDATE
		medical set content=#{content} where id =#{id}
	</update>
</mapper>