<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.MemberShipApplicationMapper">

	<select id="findMemberShipApplicationById" parameterType="String"
		resultType="memberShipApplication">
		select id,membership_type_id memberShipTypeId,user_id
		userId,per_id
		perId,deposit from membership_application where id=#{id}
	</select>


	<insert id="insertMemberShipApplicationById" parameterType="memberShipApplication">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into membership_application(id,membership_type_id,user_id
		,per_id ,deposit)
		values
		(#{id},#{memberShipTypeId},#{userId},#{perId},#{deposit})
	</insert>

	<delete id="deleteMemberShipApplicationById" parameterType="String">
		delete from membership_application where id=#{id}
	</delete>


	<update id="updateMemberShipApplicationById" parameterType="memberShipApplication">
		update membership_application
		set
		membership_type_id=#{memberShipTypeId},
		user_id=#{userId},
		per_id=#{perId},
		deposit=#{deposit}
		where id=#{id}
	</update>

	<!-- 分页查询 -->
	<select id="MemberShipApplicationPagination" parameterType="com.brick.squad.util.Pagination"
		resultType="memberShipApplication">
		select id,membership_type_id memberShipTypeId,user_id userId,per_id
		perId,deposit from membership_application limit #{skipNum},#{takeNum}
	</select>


	<select id="findMemberShipApplicationAllCount" resultType="int">

		select count(*) from membership_application

	</select>

</mapper>