<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.RapportMapper">
	<sql id="Base_Column_List">
		id, per_id perId, user_id userId, rapport_date
		rapportDate,goal,period
	</sql>
	<select id="findRapportById" parameterType="java.lang.String"
		resultType="Rapport">
		SELECT
		<include refid="Base_Column_List" />
		,content
		FROM rapport
		WHERE id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="findRapport" resultType="Rapport">
		SELECT
		<include refid="Base_Column_List" />
		FROM rapport
	</select>

	<insert id="insertRapport" parameterType="Rapport">
		INSERT INTO rapport
		(
		id,per_id, user_id,
		rapport_date, content,
		goal,period)
		VALUES
		(#{id,jdbcType=VARCHAR},
		#{perId,jdbcType=VARCHAR},
		#{userId,jdbcType=VARCHAR},
		#{rapportDate,jdbcType=TIMESTAMP},
		#{content,jdbcType=LONGVARCHAR},
		#{goal,jdbcType=VARCHAR},
		#{period,jdbcType=FLOAT})
	</insert>
	<update id="updateRapportByID" parameterType="Rapport">
		UPDATE rapport
		SET
		per_id = #{perId,jdbcType=VARCHAR},
		user_id =
		#{userId,jdbcType=VARCHAR},
		rapport_date =
		#{rapportDate,jdbcType=TIMESTAMP},
		content =
		#{content,jdbcType=LONGVARCHAR},
		goal =
		#{goal,jdbcType=VARCHAR},
		period =
		#{period,jdbcType=FLOAT}
		WHERE id = #{id,jdbcType=VARCHAR}
	</update>
	<delete id="deleteRapportById" parameterType="java.lang.String">
		DELETE FROM rapport
		WHERE id = #{id,jdbcType=VARCHAR}
	</delete>
	<select id="findRapportCount" resultType="Integer">
		SELECT COUNT(*) 
		FROM `user` u,personal_information p,rapport r 
		WHERE r.user_id=u.id 
		AND r.per_id=p.id
	</select>
	<select id="rapportPagination" resultType="com.brick.squad.expand.RapportExpand"
		parameterType="com.brick.squad.util.Pagination">
		SELECT r.id,u.username, p.name,
		r.goal,r.content,r.rapport_date rapportDate,r.period
		from rapport r INNER JOIN personal_information p ON r.per_id =p.id INNER
		JOIN `user` u ON r.user_id=u.id
		limit #{skipNum},#{takeNum}
	</select>
</mapper>