<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.RegionMapper">
	<select id="findRegionByLevel" resultType="region" parameterType="int">
		select id,isleaf,name,parent_id perantId  from region where level=#{level}
	</select>
	<select id="findRegionById" resultType="region" parameterType="String" >
		select id,isleaf,name,parent_id perantId  from region where id=#{id}
	</select>
	<insert id="insertRegionById" parameterType="region">
		insert into region (id,isleaf,name,parent_id)  values (#{id},#{isleaf},#{name}
		,#{perantId})
	</insert>
	<delete id="deleteRegionById" parameterType="String">
		delete from region where id=#{id}
	</delete>
	<update id="updateRegion"  parameterType="region" >
		update region set name=#{name}	where id=#{id} 
	</update>
	<select id="regionPagination" parameterType="com.brick.squad.util.Pagination" resultType="region">
		select id,isleaf,name,parent_id perantId from region  limit #{skipNum},#{takeNum}
	</select>
	<select id="regionCount" resultType="int">
		select count(1) from region
	</select>
</mapper>