<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.RelativesMapper">
	<select id="findRelativesById" parameterType="String"
		resultType="Relatives">
		SELECT id,per_id perId, name,telephone,address_id
		addressId,relationship_id relationshipId FROM relatives WHERE id=#{id}
	</select>
	<insert id="insertRelatives" parameterType="Relatives">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO relatives
		(id,per_id,name,telephone,address_id,relationship_id) VALUES
		(#{id},#{perId},#{name},#{telephone},#{addressId},#{relationshipId})
	</insert>
	<update id="updateRelativesById" parameterType="Relatives">
		UPDATE relatives
		SET
		id=#{id},
		per_id=#{perId},
		`name`=#{name},
		telephone=#{telephone},
		address_id=#{addressId},
		relationship_id=#{relationshipId}
		WHERE
		id=#{id}
	</update>
	<delete id="deleteRelativesById" parameterType="String">
		DELETE FROM
		relatives WHERE id=#{id}
	</delete>
	<select id="relativesPagination" parameterType="com.brick.squad.util.Pagination" resultType="relatives">
	<if test="keyword!=''">
	select
		id,per_id perId, name,telephone,address_id
		addressId,relationship_id relationshipId
		from relatives WHERE name REGEXP #{keyword} or address_id REGEXP #{keyword} limit #{skipNum},#{takeNum}
	</if>
	<if test="keyword==''">
	select
		id,per_id perId, name,telephone,address_id
		addressId,relationship_id relationshipId
		from relatives
		limit
		#{skipNum},#{takeNum}
	</if>
		

	</select>
	<select id="findRelativesAllCount" resultType="int" parameterType="com.brick.squad.util.Pagination">
		
		select count(*)
		from relatives
		
		<if test="keyword!=''">
		 WHERE name REGEXP #{keyword} or address_id REGEXP #{keyword} limit #{skipNum},#{takeNum}
	</if>
	</select>
</mapper>
