<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.ReservationMapper">

	<insert id="insertReservation" parameterType="Reservation">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO reservation (id,rname,telephone,reservation_date,branch_id
		,remarks)
		VALUES
		(#{id},#{rname},#{telephone},#{reservationDate},#{branchId},#{remarks})
	</insert>
	<!--客服后台管理分页显示数据 -->
	<select id="ReservationPagination" parameterType="com.brick.squad.expand.ReservationPaginationExpand"
		resultType="com.brick.squad.pojo.Reservation">
		SELECT
		re.id,
		rname,
		telephone,
		reservation_date
		reservationDate,
		ty.name branchId,
		remarks
		FROM
		reservation re
		JOIN type
		ty ON  re.branch_id=#{branchId} and
		 re.branch_id = ty.id
		limit #{skipNum},#{takeNum}
	</select>
</mapper>