<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.ReservationMapper">

	<insert id="insertReservation" parameterType="Reservation">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO reservation (id,rname,telephone,reservation_date,branch_id
		,remarks)
		VALUES (#{id},#{rname},#{telephone},#{reservationDate},#{branchId},#{remarks})
	</insert>
</mapper>