<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.ShopActivitiesMapper">


<select id="findShopActivitiesById" resultType="ShopActivities" parameterType="String" >
	select id,type_id typeId,start_time startTime,end_time endTime,business_id businessId,article_id articleId from shop_activities where id=#{id}
</select>

<insert id="insertShopActivities" parameterType="shopActivities">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into ShopActivities(id,type_id,start_time,end_time,business_id,article_id)
		values(#{id},#{typeId},#{StartTime},#{endTime},#{businessId},#{articleId})
	</insert>
	
	<delete id="deleteShopActivitiesById" parameterType="String">
		delete from ShopActivities where id=#{id}
	</delete>
	
	<update id="updateShopActivitiesById" parameterType="String">
	UPDATE ShopActivities set id=#{id} ,
			typeId=#{type_id},
			startTime=#{start_time},
			endTime=#{end_time},
			businessId=#{business_id},
			articleId=#{article_id}
	 		where id =#{id}
	</update>


</mapper>