<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.ShopActivitiesMapper">


<select id="findShopActivitiesById" resultType="ShopActivities" parameterType="String" >
	select id,type_id typeId,start_time startTime,end_time endTime,business_id businessId,article_id articleId from shop_activities where id=#{id}
</select>

<insert id="insertShopActivitiesById" parameterType="ShopActivities">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into shop_activities(id,type_id,start_time,end_time,business_id,article_id)
		values(#{id},#{typeId},#{startTime},#{endTime},#{businessId},#{articleId})
	</insert>
	
	<delete id="deleteShopActivities" parameterType="String">
		delete from shop_activities where id=#{id}
	</delete>
	
	<update id="updateShopActivitiesById" parameterType="String">
	UPDATE shop_activities set id=#{id} ,
			type_id=#{typeId},
			start_time=#{startTime},
			end_time=#{endTime},
			business_id=#{businessId},
			article_id=#{articleId}
	 		where id =#{id}
	</update>

<select id="shopActivitiesPagination" parameterType="com.brick.squad.util.Pagination" resultType="shopActivities">
		select * from shop_activities limit #{skipNum},#{takeNum}

</select>


<select id="findShopActivitiesAllCount" resultType="int">
	select count(*) from shop_activities

</select>

</mapper>
