<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.TypeMapper">
	<sql id="prop">
		id,parent_id parentId,name
	</sql>
	<select id="findTypeByParentId" resultType="com.brick.squad.util.Select"
		parameterType="String">
		SELECT
		id ,name
		FROM type
		WHERE
		parent_id=#{parentId}
	</select>
	<select id="findTypeById" resultType="Type" parameterType="String">
		SELECT
		<include refid="prop" />
		FROM type
		WHERE id=#{id}
	</select>

	<insert id="insertType" parameterType="Type">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		type(id,parent_id,name)
		VALUES(#{id},#{parentId},#{name})
	</insert>

	<update id="updateTypeById" parameterType="Type">
		UPDATE type
		SET
		parent_id=#{parentId},
		name=#{name}
		WHERE id=#{id}
	</update>

	<delete id="deleteTypeById" parameterType="String">
		DELETE FROM type WHERE
		id=#{id}
	</delete>

	<select id="typePagination" parameterType="com.brick.squad.util.Pagination"
		resultType="Type">
		SELECT c.id id,c.`name` name,p.`name` parentId FROM type c
		LEFT JOIN
		type p on c.parent_id=p.id
		<if test="keyword!=''">
			where c.name REGEXP #{keyword} or p.name REGEXP #{keyword}
		</if>
		LIMIT #{skipNum},#{takeNum}
	</select>

	<select id="typeCount" resultType="int"
		parameterType="com.brick.squad.util.Pagination">
		SELECT count(1) FROM type c
		LEFT JOIN type p on c.parent_id=p.id
		<if test="keyword!=''">
			where c.name REGEXP #{keyword} or p.name REGEXP #{keyword}
		</if>
	</select>

	<select id="findAllType" resultType="Type">
		select id,name from type
	</select>
	<select id="findType" resultType="com.brick.squad.util.Select">
		select id,name from type
	</select>
	<select id="findTyepByParentId" parameterType="string"
		resultType="com.brick.squad.util.Select">
		select id,name from type where parent_id=#{perantId}
	</select>
</mapper>
