<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.UserMapper"> 
	<!-- Luyujing User表 增删改查-->
	<insert id="addUser"  parameterType="com.brick.squad.pojo.User">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
		select replace(uuid(),'-','') from dual
	</selectKey>
		INSERT INTO user(id,username,password,telephone,role_id) VALUES(#{id},#{username},#{password},#{telephone},#{roleId})
	</insert>
	<update id="updateUser" parameterType="String">
		UPDATE user SET password=#{password} WHERE username=#{username}
	</update> 
	<delete id="deleteUser"  parameterType="String">
		delete from user where username=#{username};
	</delete>
	
	<select id="userPagination" parameterType="com.brick.squad.util.Pagination" resultType="user">
		select*from user limit #{skipNum},#{takeNum}
	</select>
	
	<select id="userCount" resultType="int">
		select count(*) from user
	</select>

	<select id="checkLogin" parameterType="String" resultType="user">
		select password FROM user WHERE  username=#{username} 
	</select>
	<!-- <select id="findUsername" resultType="user" parameterType="String">
		select username,telephone,role_id roleId from user where username=#{username};

	</select> -->
	<select id="findUsername"  resultType="user"  parameterType="String">
		select username from user where username=#{username}
	</select>

</mapper>
