<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brick.squad.mapper.VideoCommentMapper">
	<!-- 为评论点赞 -->
	<update id="updatePraiseAmout" parameterType="String">
		UPDATE
		video_comment set praiseAmout=praiseAmout+1 WHERE id=#{id}
	</update>
	<!-- 贬低评论 -->
	<update id="updateBelittleAmout" parameterType="String">
		UPDATE
		video_comment set belittleAmout=belittleAmout+1 WHERE id=#{id}
	</update>
	<insert id="insertVideoComment" parameterType="com.brick.squad.pojo.VideoComment">
		<selectKey resultType="String" keyProperty="id" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
		INSERT INTO
		video_comment(id,be_commented_id,content,commont_userId,commentTime)
		VALUES(#{id},#{beCommentedId},#{content},#{commontUserId},#{commentTime})
	</insert>
	<!-- 根据被 评论的ID分页查询评论，时间降序 -->
	<select id="findVideoCommentCountByBeCommentedIdPagination"
		parameterType="com.brick.squad.expand.VideoCommentPagination"
		resultType="com.brick.squad.expand.VideoCommentExtend">
		select vc.id,vc.be_commented_id
		beCommentedId,vc.content,vc.commont_userId
		commontUserId,vc.commentTime,vc.belittleAmout,vc.praiseAmout,u.userName,u.userPicPath
		from video_comment vc join user u on
		vc.be_commented_id=#{beCommentedId} and
		vc.commont_userId=u.id ORDER BY
		commentTime desc
		limit
		#{skipNum},#{takeNum}
	</select>
	<!-- 根据被 评论的ID查询评论总数 -->
	<select id="findVideoCommentCountByBeCommentedId" parameterType="String"
		resultType="int">
		select count(*) from video_comment vc where
		vc.be_commented_id=#{beCommentedId}
	</select>
</mapper>