/* 头部 */
.header_user{
  padding-left: 66%;
}
.header_user ul li{
  float: left;
  margin-left: 1%;
  list-style: none;
}
.header_user ul li a{
  color: gray;
}
.header_user ul li a:hover{
    color: red;
}
/* 搜索框样式 */
.search {
  position: relative;
  padding-top: 2px;
}
.s-bar {
  clear: both;
  width: 44%;
  margin: 0 auto;
  padding: 0.3em 0em 0.5em 0em;
}
.s-bar input[type="text"] {
  font-size: 0.7em;
  font-weight: 700;
  color: gray;
  padding: 0.86em 1em 0.9em 0.8em;
  width: 70%;
  border-radius: 10px 0px 0px 10px;
 -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;
  border: 1px solid #BFBCBC;
  outline: none; 
}
.s-bar input[type="submit"]{
  font-size: 0.7em;
  font-weight: 600;
  color: white;
  padding: 0.99em 1em 1em 0.5em;
  width: 22%;
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -o-border-radius:0px 5px 5px 0px;
  margin: 0px 0px 0px -12px;
  border: none;
  outline: none;
  background: linear-gradient(to bottom, #FF0000 0%,#FF0000 37%,#FF0000 66%,#FF0000 100%);
}

/* 热门搜索样式 */
.hotSearch{
  margin-bottom: 40px;
}
.hotSearch ul{
  padding-left: 27.4%;
  margin: 0 auto;
}
.hotSearch ul li{
  float: left;
  font-size: 14px;
  list-style: none;
  padding-left: 10px;
}
.hotSearch ul li a{
  color: gray;
}
.hotSearch ul li a:hover{
  color: red;
}
.nava a:hover{
  color: red;
}
.nava  a{
  border-color: red;
  color: white;
}

/* 左侧栏样式 */
.left_group{
  width: 14.6%;
  margin-left: 1.26%;
}
.left_group button{
  border-top: none;
  border-radius:none;
  border-color: red;
}
.list-group-item a{
  font-size: 15px;
  color: gray;
}
.list-group-item a:hover{
  color: red;
}

