@CHARSET "UTF-8";

.layui-nav-bar,.layui-nav .layui-this:after,.layui-nav-tree .layui-nav-itemed:after
	{
	background-color: #17877B;
}

.top-nav ul li {
	margin-left: -10px;
}

.back-col1 {
	background-image: url('../image/online.jpg');
	width: 449px;
	height: 406.58px;
	background-size: 100% 100%;
	background-position: center center;
}

.back-col2 {
	background-image: url('../image/activity.jpg');
	width: 449px;
	height: 406.58px;
	background-size: 100% 100%;
	background-position: center center;
}

.btm-wid {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.title {
	margin-left: 50px;
	width: 350px;
	height: 40px;
	line-height: 40px;
	color: #48D2D2;
	font-size: 1.2em;
	letter-spacing: 10px;
	text-align: center;
	border: 1px solid #48D2D2;
}

.city_search {
	width: 200px;
	height: 40px;
	border-radius: 5px 0 0 5px;
	margin-left: 95px;
	margin-top: 50px;
	border: 1px solid #48D2D2;
}

.layui-carousel img {
	width: 100%;
	height: 500px;
}

.buttons {
	position: absolute;
	z-index: 999;
	margin-left: 425px;
	margin-top: -100px;
}

.buttons ul li a{
	border-radius: 10px;
}
.hvr-shutter-in-vertical {
	border-radius: 10px;
}

.hvr-shutter-in-vertical:before {
	border-radius: 10px;
}

.layui-input-inline input{
	border:1px solid #48CFC1; 
}

.layui-input:focus, .layui-textarea:focus{
	border:1px solid #48CFC1 !important;; 
}

.layui-input:hover, .layui-textarea:hover{
		border:1px solid #48CFC1 !important;; 
	
}

.layui-input, .layui-textarea, .layui-select{
	border:1px solid #48CFC1 !important;; 
}

.layui-input-inline select{
	padding:0px;
}

.foo-grids div{
	width: 180px;
}

.layui-nav-child dl{
	background-color: #48CFC1;
}

.layui-nav-child dd{
	background-color: #48CFC1;
	border: 1px solid #17877B;
}

.layui-nav-child{
	background-color: #48CFC1;
	padding-top: 0;
	padding-bottom: 0;
}