@CHARSET "UTF-8";
.layui-nav-bar, .layui-nav .layui-this:after, .layui-nav-tree .layui-nav-itemed:after{
	background-color: #17877B;
}

.top-nav ul li{
	margin-left: -10px;
}

.back-col1{
	background-image: url('../image/online.jpg');
	width: 449px;
	height: 406.58px;
	background-size: 100% 100%;
	background-position: center center;
}

.back-col2{
	background-image: url('../image/activity.jpg');
	width: 449px;
	height: 406.58px;
	background-size: 100% 100%;
	background-position: center center;
}

.btm-wid{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.title{
	margin-left:50px;
	width: 350px;
	height:40px;
	line-height:40px;
	color:#48D2D2;
	font-size:1.2em;
	letter-spacing:10px;
	text-align:center;
	border: 1px solid #48D2D2;
}

.city_search{
	width: 200px;
	height:40px;
	border-radius:5px 0 0 5px;
	margin-left:95px;
	margin-top:50px;
	border:1px solid #48D2D2; 
}