@CHARSET "UTF-8";

.Pro_body {
	width: 100%;
	height: 100%;
	/* background-color: red; */
}

.Pro_header {
	width: 100%;
	height: 80px;
	background-color: white;
}

.dropdown-menu ul {
	display: block;
	float: left;
}

.dropdown-menu>li>ul>li {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.dropdown-menu>li>ul>li a {
	color: black;
	text-decoration: none;
}

.dropdown-menu>li>ul>li a:HOVER {
	color: green;
}

/* -------------------  商品详情中部  ------------------- */
.Pro_midum {
	width: 100%;
	height: 30px;
	background-color: #CCFF99;
}

.Pro_midum a {
	color: black;
}

.TypeAll li {
	margin-top: 3px;
}

.nav-pills {
	line-height: 10px;
}

.nav>li>a:focus,.nav>li>a:hover {
	background-color: #AEED70;
}

/* -------------------  商品详情主体  ------------------- */
.Pro_mainbody {
	width: 100%;
	height: 1000px;
	/* 	background-color: blue; */
}

.Pro_info {
	width: 100%;
	height: 700px;
	border: 1px solid #D5FFAB;
	background-color: white;
	float: left;
}

.comm_img {
	width: 600px;
	height: 100%;
	float: left;
	/* 	background-color: gray; */
}

.comm_imgs img {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0;
	padding: 0;
}

.comm_imgs a {
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	border: 2px solid white;
}

.comm_imgs a:HOVER {
	border-color: #ADEB6E;
	text-decoration: none;
}

.comm_info {
	width: 500px;
	height: 100%;
	float: left;
	/* 	background-color: blue; */
}

.comm_info label {
	margin-left: 10px;
	margin-top: 10px;
}

.comm_backimg {
	width: 500px;
	height: 100px;
	margin-left: 20px;
	margin-top: 5px;
	background-image: url('/BrickSquad/resource/image/2.png');
	background-size: 100% 100%;
	background-position: center center;
}

.btn-default:hover {
	background-color: white;
	border-color: white;
}

.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover
	{
	background-color: white;
	border-color: white;
}

.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:FOCUS
	{
	background-color: white;
	border-color: white;
	border: none;
}

.btn-default:active:focus,.btn-default:active:hover {
	background-color: white;
	border-color: white;
	border: none;
}

.btn-default:focus {
	background-color: white;
	border-color: white;
	border: none;
}

.btn-default:hover {
	background-color: white;
	border-color: white;
	border: none;
}

.btn-default {
	border-color: white;
	background-color: white;
}

.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.active,.btn:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.open>.dropdown-toggle.btn-default {
	background-color: white;
	border-color: white;
}

.myInput a {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	color: black;
	border: 1px solid #B8B7BD;
	margin-top: 20px;
	margin-left: 10px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	background-color: white;
	text-decoration: none;
}

.myInput a:HOVER {
	border: 1px solid #B8F98C;
}

.layui-input-block img {
	display:block;
	width: 50px;
	height: 50px;
	/* margin-left: 70px;
	 */
	 margin-top: -50px;
}

.Pro_seemore {
	width: 240px;
	float: left;
}

.Pro_seemore img {
	width: 140px;
	height: 150px;
	margin-left: 32px;
	margin-top: 30px;
}

.pro_det {
}

.tab1 img{
	width:500px;
	height:500px;
    margin-left: 35px;
    margin-top:20px;
    display: inline;
}

.layui-table th{
	text-align: center;
	background-color: white;
}

.details th{
	width: 150px;
	background-color: #F2F2F2;
}

.details td{
	width: 300px;
	background-color: white;
}

.des_input input{
	width:150px;
	height:20px;
	border-radius:5px;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
	border-color: orange;
	color: orange;
}

.single-product .tabs .tabbable .tab-content .tab-pane p{
	font-size: 20px;
	margin-left: 100px;
}

.woocommerce p.stars a{
	margin-left: 10px;
}
.woocommerce #review_form #respond p{
	margin-left: 30px;
	margin-top: -28px;
}

.layui-form-label{
	width:150px;
}