@CHARSET "UTF-8";
.template_body{
	width: 100%;
	height: 100%;
	
}

.template_img{
	width: 100%;
	height:200px;
}

.template_img img{
	width: 100%;
	height: 200px;
}

.template_main{
	width:100%;
	background-color: white;
}

.tem_main_left{
	width: 20%;
	height:500px;
	margin-left:150px;
	background-color: #EBEBEC;
	
}